body {
    background-color: #F2EAE2;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.main-image {
    height: 450px;
    border-radius: 10px 0 0 10px;
    float: left;
}

h1{
    color: #6C7289;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 5px;
    margin-top: 32px;
    margin-left: 331.5px;
}

h2{
    color: #1C232B;
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    width: 530px;
    height: 96px;
    margin-top: 20px;
    padding-left: 331.5px;
}

.floral{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #6C7289;
    height: 92px;
    margin-top: 24px;
    padding-left: 331.5px;
    width: 560px;
}

.price-container{
    display: flex;
    flex-direction: row;
    gap: 19px;
    align-items: center;
    margin-top: 29px;
    margin-left: 331.5px;
}

.price{
    font-family: 'Fraunces';
    height: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #3D8168;
    
}

span{
    color: #6C7289;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    text-decoration: line-through;
}

.card{
    margin-left: 331.5px;
    position: relative;
}

.addToCard{
    background: #3D8168;
    color: white;
    margin-top: 30px;
    width: 236px;
    height: 48px;
    border-radius: 8px;
    border-style: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.07px;
}

.addToCard:hover{
    cursor: pointer;
    background: #1A4032;
}

.icon-card{
    position: absolute;
    margin-top: 45px;
    margin-left: 50px;
}
